﻿<div class="widget-webcrosssells [[Model.CssClass]]">
    <plumbers-cross-sell-carousel></plumbers-cross-sell-carousel>
</div>

<script type="text/ng-template" id="/PartialViews/Catalog-CrossSellCarousel">
    [% partialView 'Catalog-CrossSellCarousel' %]
</script>