﻿[% if Model.Drop.DisabledMessage != "" %]
    [[Model.Drop.DisabledMessage]]
[% else %]
<div class="widget-webcrosssells [[Model.CssClass]] [% if Model.Drop.IsMobileApp %] widget-mobileAppProductCarousel [% endif %]" ng-controller="ProductCarouselController as vm"
     product-carousel-type="[[Model.CarouselType]]"
     related-product-type="[[Model.RelatedProductsRelationship]]"
     is-product-detail-page="[[Model.Drop.IsProductDetailPage]]"
     number-of-products-to-display="[[Model.Drop.NumberOfProductsToDisplay]]"
     seed-with-manually-assigned="[[Model.Drop.SeedWithManuallyAssigned]]"
     enable-dynamic-recommendations="[[Model.Drop.EnableDynamicRecommendations]]"
     product-carousel-id="[[Model.Drop.ProductCarouselId]]"
     selected-category-ids="[[Model.Drop.SelectedCategoryIds]]"
     is-catalog-page="[[Model.Drop.IsCatalogPage]]"
     is-brand-detail-page="[[Model.Drop.IsBrandDetailPage]]">
    <h3 ng-if="vm.showCarousel()" ng-cloak>[[Model.Title]]</h3>
    <div class="row" role="cross-sells" ng-if="vm.showCarousel()" ng-cloak>
        <div class="medium-12 large-12 columns">
            <div class="carousel-wrapper tst_productCarousel[[Model.RelatedProductsRelationship]]_carousel">
                <div class="cs-carousel">
                    <ul class="items slides tst_productCarousel[[Model.RelatedProductsRelationship]]_slides">
                        <li id="tst_productCarousel[[Model.RelatedProductsRelationship]]_{{product.id}}" class="medium-3 large-3 columns isc-productContainer tst_productCarousel[[Model.RelatedProductsRelationship]]_productContainer" ng-repeat="product in vm.products track by $id(product)">
                            <div class="item-wrap">

                                <div class="carousel-item-equalize">
                                    <div class="thumb-wrap">
                                        <div class="item-thumb">
                                            <a ng-href="{{product.productDetailUrl}}">
                                                <img ng-src="{{product.mediumImagePath}}" alt="{{product.altText}}" increment-images-loaded/>
                                            </a>
                                        </div>
                                    </div>

                                    <isc-product-brand product="product" carousel-includes-brands="vm.carouselIncludesBrands"></isc-product-brand>

                                    <div class="item-name">
                                        <a ng-href="{{product.productDetailUrl}}">{{product.shortDescription}}</a>
                                    </div>

                                    <div class="product-info">
                                        [% if Model.DisplayPartNumbers %]
                                        <div class="item-num">
                                            <span class="item-num-sku">{{product.erpNumber}}</span>
                                            <span class="item-num-mfg" ng-if="(!!product.manufacturerItem)">[% translate 'MFG #' %]: {{product.manufacturerItem}}</span>
                                            <span class="item-num-my" ng-if="(!!product.customerName)">[% translate 'My Part #' %]: {{product.customerName}}</span>
                                        </div>
                                        [% endif %]
                                        [% if Model.DisplayPrice %]
                                        <div class="price" ng-if="vm.canSeePrices && !vm.failedToGetRealTimePrices">
                                            <isc-product-price product="product" id-key="{{vm.productCarouselType}}" ng-if="product.canShowPrice"></isc-product-price>
                                            <span class="um displayUnitOfMeasure" ng-if="vm.showUnitOfMeasureLabel(product)">
                                                <span class="um-sep">/</span>
                                                <span class="selected-uom">{{product.unitOfMeasureDescription || product.unitOfMeasureDisplay}}</span>
                                            </span>
                                            <isc-product-price-saving product="product" currency-symbol="product.currencySymbol"></isc-product-price-saving>
                                            <div ng-if="vm.showQuantityBreakPricing(product)">
                                                <isc-quantity-break-pricing product-id="product.id" block="crossSell" break-prices="product.pricing.unitRegularBreakPrices"></isc-quantity-break-pricing>
                                            </div>
                                        </div>
                                        <div class="price" ng-if="vm.failedToGetRealTimePrices">
                                            <div>[% siteMessage 'RealTimePricing_PriceLoadFailed' %]</div>
                                        </div>
                                        <div class="um-pack" ng-if="product.canShowUnitOfMeasure">
                                            <div class="um">
                                                <label ng-if="vm.showUnitOfMeasure(product)">[% translate 'U/M' %]:</label>
                                                <isc-unit-of-measure-select-list product="product" alternate-units-of-measure="{{vm.productSettings.alternateUnitsOfMeasure}}" display-pack="true"
                                                                                 change-unit-of-measure="vm.changeUnitOfMeasure(product)"></isc-unit-of-measure-select-list>
                                            </div>
                                        </div>
                                        [% endif %]
                                    </div>
                                    <div class="actions-block">
                                        [% if Model.DisplayAddToCart %]
                                        <div class="item-qty" ng-if="product.canAddToCart">
                                            <input type="text" ng-model="product.qtyOrdered" ng-init="product.qtyOrdered = product.minimumOrderQty || 1" class="qty numerictextbox tst_productCarousel[[Model.RelatedProductsRelationship]]_qtyOrdered"/>
                                        </div>
                                        <div class="action">
                                            <button class="btn primary btn-add-cart tst_productCarousel[[Model.RelatedProductsRelationship]]_addToCart" ng-click="vm.addToCart(product)" ng-if="product.canAddToCart" ng-disabled="!product.qtyOrdered || product.qtyOrdered == 0 || vm.addingToCart">[% translate 'Add to Cart' %]</button>
                                        </div>
                                        [% endif %]
                                        [% if Model.DisplayAddToMyLists %]
                                        <a href="javascript:void(0);" class="btn secondary btn-add-list isc-addToWishlistPopup tst_productCarousel[[Model.RelatedProductsRelationship]]_addToWishlist" ng-click="vm.openWishListPopup(product)" ng-if="product.canAddToWishlist">[% translate 'Add to List' %]</a>
                                        [% endif %]
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

                <a href="#" class="carousel-control-nav carousel-control-prev flex-prev"><span></span></a>
                <a href="#" class="carousel-control-nav carousel-control-next flex-next"><span></span></a>
            </div>
        </div>
    </div>
</div>
[% endif %]