﻿/* Global */
#tst_cartLink, [role="cart-link"] {
    padding-right: .5em !important;
}

.float-fix {
    float: none !important;
}

.actions-block {
    max-width: 180px;
}

#nwrap {
    background-color: #E5E5E5;
}

.top-level-category.top-level-item a{
    color: white !important;
}

.top-level-category.top-level-item .second-level-subnav a {
    color: black !important;
}

.plumbers-carousel-image {
    background-position: center;
    height: 375px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
}

.plumbers-carousel-image-left {
    justify-content: left;
    background-position: center;
    height: 375px;
    display: flex;
    align-items: center;
    background-size: cover;
}

    .plumbers-carousel-image .plumbers-carousel-text, .plumbers-carousel-image-left .plumbers-carousel-text-w-background {
        text-align: center;
        color: white;
        padding: 20px;
    }

.plumbers-carousel-image h1, .plumbers-carousel-image-left h1 {
    margin: 0;
}

.plumbers-carousel-image .plumbers-carousel-text .plumbers-overlay-btn, .plumbers-carousel-image .plumbers-carousel-text-w-background .plumbers-overlay-btn, .plumbers-carousel-image-left .plumbers-carousel-text-w-background .plumbers-overlay-btn {
    background: #0065a4 !important;
}

.plumbers-carousel-image .plumbers-carousel-text-w-background, .plumbers-carousel-image-left .plumbers-carousel-text-w-background {
    text-align: center;
    color: white;
    padding: 25px;
    background: rgba(0,0,0,0.8);
    margin-left: 30px;
}

        a:link, a:visited, a:active {
            color: #0065a4;
        }

.actions-block .action .btn.btn-add-cart {
    font-size: .9em;
    background: #ed1c24 0% 0% no-repeat padding-box;
    box-shadow: 3px 3px 6px #00000029;
    border: 1px solid #707070;
    border-radius: 0px;
    opacity: 1;
}

.actions-block a.btn.btn-add-list {
    color: #0065a4 !important;
}
/* Global End*/
body {
    margin: 0;
    font-family: 'Muli', sans-serif;
    background-color: white;
}

.spacer {
    flex: 1;
}
top-level-category.top-level-item span {
    color: white !important;
}
header.header-b2c .mega-nav ul li.top-level-category > a .toggle-sub:before {
    color: white !important
}
header.header-b2c .mega-nav ul:first-child > li > a:hover .toggle-sub:before {
    color: white !important;
}
.nav-options {
    color: white;
}

.sub-tier-panel.subnav .sub-item .sub-item-text, .sub-tier-panel.subnav .sub-item .nav-item-text {
    color: black;
}

.sub-tier-panel.subnav .sub-item .nav-item-text {
    font-size: 14px;
    position: relative;
}

header.header-b2c .mega-nav ul .subnav .sub-item a .toggle-sub:before {
    color: black !important;
}

.top-level-item a .sub-item-text {
    color: white;
}

.nav-item-text {
    color: white;
}

header.header-b2c .mega-nav ul:first-child > li ul.subnav {
    background: #f6f6f6;
}

.sn-account ul .has-sub ul > li a .sub-item-text {
    font-size: 13px;
}

.sn-account ul li > ul {
    max-height: 370px;
    right: -30px;
}

.search-button-bkgd {
    background-color: #0065A4 !important;
}

.sign-in-icon {
    height: 60%;
    vertical-align: text-top;
}

.search-inventory {
    padding-left: 14px;
}

.column-subtitle {
    text-align: left;
    float: none !important;
    margin-bottom: 4px;
    font-size: .9em;
}

    .column-subtitle a {
        font-size: .9em;
        color: white;
    }

.column-title {
    margin-top: 0;
    margin-bottom: 3px;
    font-size: 14px;
}
/*Mobile View*/
.isc-nav-bar {
    background-color: black;
}

div.cart-button a.cart-link {
    color: white;
}

    div.cart-button a.cart-link:before, header label.toggle.burger:after {
        color: white;
    }

.responsive-user-nav {
    z-index: -1;
}

@keyframes slide1 {
    0%, 100% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(10px, 0);
    }
}

.sn-account > ul > li > a:focus {
    background: none;
    color: black;
}

.product-list .search-within-search .search-container .search-button .btn {
    background: #0065a4 0% 0% no-repeat padding-box;
    box-shadow: none;
    border: none;
    border-radius: 0px;
}

.plumbers-right {
    text-align: end;
    padding-top: 10px;
}

.sn-account ul .has-sub ul > li a .sub-item-text {
    color: black;
}

header.header-b2c .mega-nav ul:first-child > li .toggle-sub:before {
    color: white;
}

@media (min-width: 768px) {
    /* Header */
    header .header-b2c li .btn:hover {
        color: white;
    }

    header.header-b2c .mega-nav ul:first-child > li .toggle-sub {
        display: inline;
    }
    header.header-b2c .mega-nav ul:first-child > li {
        line-height: 2.6em;
    }

    .plumbers-right p {
        font-size: 14px;
    }

    .plumbers-top-links {
        display: inline;
    }

    .plumbers-top-links p {
        display: inline-block;
        margin-bottom: 0;
        margin-right: 1.5em;
        font-size: 14px;
    }

    .plumbers-top-links p:last-child {
        margin-right: 0;
    }

    .plumbers-top-links p a {
        margin-right: 0;
        color: #2B2B2B;
    }

    .location-finder {
        display: inline;
        margin-right: 1.5em;
        margin-bottom: 0;
    }

    .billtrust-link {
        display: inline;
        margin-right: 1.5em;
        margin-bottom: 0;
    }

    .location-finder .location-change-link {
        color: #0065a4;
        font-size: 12px;
    }

    .location-finder a {
        color: #2B2B2B;
    }

    .pickup-location {
        font-size: 14px;
        display: inline;
        margin-right: 1.5em;
        margin-bottom: 0;
    }

    .pickup-location span {
        font-weight: bold;
    }

    .pickup-location a{
        font-size: 11px;
        color: #0065a4;
    }

    .nav-link {
        top: 1px;
    }

    header.header-b2c .mega-nav ul {
        margin-top: 0;
        display: block;
    }

    header.header-b2c .mega-nav .right-nav ul:first-child > .has-sub {
        padding: 0;
        float: none;
    }

    header.header-b2c .mega-nav .right-nav ul:first-child > .has-sub ul {
        display: none;
    }

        header.header-b2c .mega-nav .right-nav ul:first-child > .has-sub:hover ul {
            display: block;
        }

    header.header-b2c li .btn, header.header-b2c li button.btn {
        color: white !important;
    }

    .head-row .search-container .search-button button {
        text-indent: 0px;
    }

    .head-row .search-container .search-button button::after {
        content: none;
    }

    header.header-b2c .head-row .search-button {
        right: -10px;
        width: 115px;
    }

    .container {
        min-height: 67.6vh;
        max-width: none;
    }

    .search-container .search-input {
        width: 0;
    }

    .header-b2c [role="user-nav"] {
        float: none;
        position: relative;
    }

    header.header-b2c .head-row .header-zone.rt ul[role="user-nav"] {
        display: flex;
        width: 30%;
    }

    header.header-b2c .head-row .header-zone.lft {
        display: flex;
        width: 400px;
        margin-top: 0px;
        margin-right: 5%;
        margin-left: 5px;
    }

    header.header-b2c .head-row .header-zone.rt {
        width: 85%;
        margin-top: 5px;
        float: none;
    }

    header.header-b2c .mega-nav {
        width: 100%;
        display: flex;
        margin-top: 25px;
    }

    header.header-b2c .head-row .header-zone.top {
        width: 100%;
        text-align: right;
        background-color: white;
        color: black;
    }

        header.header-b2c .head-row .header-zone.top > a {
            color: black;
            font-size: 14px;
            margin-left: 25px;
        }

    header.header-b2c .head-row .header-zone.lft .logo-container {
        padding: 0;
        margin: 0;
        width: 100%;
        max-width: none;
    }

    header.header-b2c .logo-row .plumbers-restricted-width {
        max-width: 1300px;
        margin: auto;
        padding-left: .9375rem;
        padding-right: .9375rem;
    }

    header.header-b2c .mega-nav .plumbers-restricted-width {
        max-width: 1300px;
        margin: auto;
        width: 100%;
        display: flex;
        padding: 0 .5rem;
    }

    header.header-b2c .mega-nav ul li.top-level-category .second-level-subnav {
        background-color: #f6f6f6;
        max-width: 1300px;
        left: auto;
        box-shadow: 0px 3px 6px #000000BD;
    }

    header.header-b2c .mega-nav ul li.top-level-category .second-level-subnav li.second-level-category a {
        color: black;
    }

    header.header-b2c .mega-nav .plumbers-restricted-width .left-nav {
        flex: 1 1 50%;
        display: flex;
        justify-content: flex-start;
    }
        
    header.header-b2c .mega-nav .plumbers-restricted-width .right-nav {
        flex: 1 1 50%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

        header.header-b2c .mega-nav {
            background: #2B2B2B 0% 0% no-repeat padding-box;
            box-shadow: 0px 3px 6px #000000BD;
            opacity: 1;
            min-height: 50px;
        }

    header.header-b2c .mega-nav ul li.top-level-category > a .toggle-sub:before {
        color: black;
    }

    .head-row .search-container {
        padding-top: 0;
        width: 0;
    }

    header.header-b2c #wideSearch {
        position: relative;
    }

    header.header-b2c .head-row .header-zone.rt #wideSearch form {
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    header.header-b2c .head-row .header-zone.rt .search-wrapper {
        width: 99%;
        max-width: 1300px;
        position: relative;
        z-index: 95;
        margin: 0 auto;
        float: left;
        margin-top: 27px;
    }

    header.header-b2c .head-row .header-zone.rt #wideSearch {
        width: 100%;
        float: none;
        margin: 0 auto;
    }

    header.header-b2c #wideSearch .search-input {
        width: 96%;
    }

    header.header-b2c li .btn, header.header-b2c li button.btn {
        color: black;
        padding: 0 1em 0 1em;
        font-size: 1.1em;
    }

    .sn-account > ul > li > a {
        padding: 0 0 0 0 !important;
    }

    right-nav {
        display: flex;
        width: 30%;
        float: right;
    }

    header.header-b2c .mega-nav ul .subnav .sub-item:hover {
        background: #E6E6E6;
    }

    left-nav {
        display: flex;
        width: 70%;
        float: left;
    }
    .cust-name-arrow {
        display: inline;
    }
    .cust-name-arrow:before {
        font-family: 'good-oatmeal-v2';
        content: "";
        left: 30%;
        font-weight: bold;
        color: white;
        cursor: pointer;
        vertical-align: middle;
        visibility: visible;
        text-decoration: none;
    }

    header.header-b2c .logo-row {
        padding: 0;
    }

    header.header-b2c .logo-row .plumbers-top {
        width: 100%;
        max-width: 1300px;
        margin: 0 auto;
        background-color: #fff;
        display: block;
        padding-left: .9375rem;
        padding-right: .9375rem;
    }

    .plumbers-right .widget-linklist {
        margin-bottom: 0;
        margin-top: 5px;
    }

    .plumbers-right .widget-linklist ul li {
        margin: 0;
        border: none;
        float: none;
        color: #a7a8aa;
        font-size: 16px;
    }
    .plumbers-right .widget-linklist ul li a {
        color: black !important;
        font-size: 14px;
    }

    header.header-b2c .mega-nav ul .subnav .sub-item a .sub-item-text, header.header-b2c .mega-nav ul .subnav .sub-item a .nav-item-text {
        margin: 0 14px;
        padding: 0;
        border: none;
    }

    .mobile-sign-in {
        display: none;
    }
    /*Header End */

    /* Footer */
    .footer-right {
        text-align: end;
        width: 50%;
        float: right;
    }

    .footer-left {
        width: 50%;
        float: left;
    }
    #footer .f1-wrap {
        max-width: 1300px;
    }

    #footer .social-media-icons a img {
        padding: 0 4em;
    }

    .container[role="main"] {
        max-width: 1300px;
    }

    .left-nav .sub-item-text {
        position: relative;
    }

    .plumbers-footer-image {
        margin-top: 4.5em;
    }

    #footer .mobile-footer {
        display: none;
    }

    #footer .non-mobile-footer {
        display: block;
    }

    /* Footer End*/
    /* Content Area */
    [role="main"] .main-row {
        max-width: 1300px;
        padding-left: .5rem;
        padding-right: .5em;
    }

    .checkout-review-pay .order-summary-2.order-summary-top {
        width: 100%;
        padding-top: 107px;
        margin-bottom: -25px;
    }

    /* Content Area End */
}
@media (max-width: 480px) {
    .row .logo-container {
        width: 180px;
        margin-top: 40px;
        margin-bottom: 15px;
    }

    .search-container .search-input {
        width: 75%;
    }
}

@media (min-width: 480px) {
    .row .logo-container {
        width: 300px;
        margin: 15px 0;
        padding-right: 0;
    }
}

@media (min-width: 300px) {
    #tst_userNav_userName_button > span.cust-name.hide-ellipsis {
        display: none;
    }

    #tst_userNav_userName_button > span.cust-name.display-ellipsis {
        display: inline-block;
        color: #fff !important;
        padding: 0 .6em;
        font-size: 0.8em;
    }
}

@media (min-width: 430px) {
    #tst_userNav_userName_button > span.cust-name.hide-ellipsis {
        display: inline-block;
        font-size: 0.8em;
    }

    #tst_userNav_userName_button > span.cust-name.display-ellipsis {
        display: none;
    }
}

@media (max-width: 767px) {
    button.secondary.isettings-cancel:hover {
        color: white;
    }
    .footer-right {
        text-align: center;
        width: 100%;
        float: none;
        margin-bottom: 15px;
    }

    .footer-left {
        width: 100%;
        float: none;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 5px;
    }

        .footer-left p {
            margin-left: 0 !important;
        }

    .footer-right p:first-child {
        margin-left: 0px !important;
    }

    #tst_userNav_userName_button {
        color: white !important;
        display: flex;
    }

    [role="secondary-nav"] .user-button:hover, [role="secondary-nav"] .user-button:focus,
    [role="secondary-nav"] .fulfillment-method:hover, [role="secondary-nav"] .fulfillment-method:focus,
    .topbar-user [role="secondary-nav"] .user-button,
    [role="secondary-nav"] a.search:hover,
    [role="secondary-nav"] a.search:focus,
    .topbar-search [role="secondary-nav"] a.search {
        color: #2b2b2b !important;
    }

    [role="secondary-nav"] [role="user-nav"] li[role="fulfillment-method"] {
        display: none;
    }

    .csstransforms3d.csstransforms.csstransitions .topbar-user .top-slide {
        transform: none;
    }

    [class*="topbar-"] .ui-lock {
        position: relative;
        background: none;
        padding: 0;
        opacity: 1;
    }

    .user-button.btn.secondary.isettings-cancel {
        margin-bottom: 0;
        margin-top: 1em;
        background: #2B2B2B;
    }

    .isc-primary-nav {
        background: #2b2b2b;
    }

    #footer .social-media-icons a img {
        padding: 0 2em;
    }

    #footer .mobile-footer {
        display: block;
        margin-bottom: 4%;
    }

    #footer .accordion label.accord-head {
        background: none;
        border: 1px solid white;
    }

    #footer .mobile-footer .column-subtitle {
        margin-bottom: 6px;
        font-size: 1em;
    }

    #footer .accordion article.accord-content {
        background: none;
    }

    #footer .accordion input.accord-check:checked + label.accord-head {
        color: white;
    }

    #footer .accordion input.accord-check:checked ~ article.accord-content {
        border: 1px solid white;
    }

    #footer .non-mobile-footer {
        display: none
    }

    .foundicon-torso:before {
        font-size: 2em;
    }

    nav ul:not(.side-nav) li[role="sign-in"] {
        margin-top: 20px;
    }

    nav ul:not(.side-nav) [role="user-options"] li i {
        margin-bottom: 0;
    }

    .mobile-sign-in [role="secondary-nav"] .user-button:hover, .mobile-sign-in [role="secondary-nav"] .user-button:focus,
    .mobile-sign-in [role="secondary-nav"] .fulfillment-method:hover, .mobile-sign-in [role="secondary-nav"] .fulfillment-method:focus,
    .topbar-user [role="secondary-nav"] .user-button, [role="secondary-nav"] a.search:hover,
    [role="secondary-nav"] a.search:focus, .topbar-search [role="secondary-nav"] a.search,
    li[role="sign-out"] .btn.sign-out:hover, li[role="sign-out"] .btn.sign-out:focus,
    li[role="sign-in"] .btn.sign-in:hover, li[role="sign-in"] .btn.sign-in:focus, [role="user-msgs"] a:hover,
    [role="user-msgs"] a:focus {
        background-color: white !important;
        color: #2b2b2b !important;
    }

    nav ul:not(.side-nav) li i {
        height: auto;
        position: relative;
        left: auto;
        margin-bottom: 10px;
    }

    nav ul:not(.side-nav) li i+span {
        padding-left: 0;
    }

    .isc-nav-wrap .sign-in, .isc-nav-wrap .mobile-user-options {
        display: flex;
        height: 100%;
        float: right;
        line-height: 3em;
        font-size: 1.1em;
        align-items: center;
        color: #fff !important;
    }

    .isc-nav-wrap .mobile-user-options .cust-name {
        color: white !important;
        padding: 0 1.2em;
        padding-left: 0em;
    }

    .plumbers-footer-image {
        border-top: 1px solid white;
        padding-top: 25px;
        text-align: center;
    }

    [role="user-nav"] [role="user-options"] .cust-name {
        display: inline;
    }

    [role="secondary-nav"] {
        border: none;
        background-color: white;
        display: flex;
        width: 50%;
    }

    [role="user-nav"] li[role="user-options"] a {
        color: #2b2b2b !important;
        line-height: normal;
        padding: 0;
        height: auto;
    }


    .plumbers-right {
        display: none;
    }

    .head-row .search-container {
        display: block;
        width: 100%;
        float: none;
        padding-bottom: 1em;
    }

    .search-container .search-button {
        width: 19%;
    }

    .search-container .search-input {
        width: 75%;
    }

    #searchPanel {
        width: 100% !important;
        float: none !important;
        padding: 0 !important;
    }

    [role="secondary-nav"] .search-button {
        display: none !important;
    }

    .isc-nav-bar {
        background: #2b2b2b 0% 0% no-repeat padding-box;
    }

    [role="user-nav"] li[role="user-options"] {
        border: none;
    }

    nav ul:not(.side-nav) li[role="sign-in"] {
        border: none;
    }

    [role="secondary-nav"] [role="user-nav"] li[role="fulfillment-method"] {
        border: none;
    }

    ul[role="search"] {
        border: none;
    }

    li[role="sign-out"] .btn.sign-out, li[role="sign-in"] .btn.sign-in, [role="user-msgs"] a {
        color: black;
    }

    #searchButton {
        color: black;
    }

    li[role="sign-out"] .btn.sign-out:hover, li[role="sign-out"] .btn.sign-out:focus,
    li[role="sign-in"] .btn.sign-in:hover, li[role="sign-in"] .btn.sign-in:focus,
    [role="user-msgs"] a:hover, [role="user-msgs"] a:focus {
        background-color: #9FC955;
    }

    [role="secondary-nav"] .user-button:hover, [role="secondary-nav"] .user-button:focus,
    [role="secondary-nav"] .fulfillment-method:hover,
    [role="secondary-nav"] .fulfillment-method:focus, .topbar-user [role="secondary-nav"] .user-button,
    [role="secondary-nav"] a.search:hover, [role="secondary-nav"] a.search:focus, .topbar-search [role="secondary-nav"] a.search {
        background-color: #9FC955;
        color: white !important;
    }

    [role="secondary-nav"] [role="user-nav"] li[role="fulfillment-method"] a {
        color: black;
    }

    header .logo-row {
        max-width: 100%;
    }

    .header-zone.lft {
        display: flex;
        justify-content: center;
    }
}

#footer {
    background-color: #363636;
    color: white;
}

.plumbers-bottom-footer {
    border-top: 1px solid white;
    margin-top: 25px;
}

#footer .social-media-icons {
    text-align: center;
    margin-bottom: 25px;
    margin-top: 20px;
}

    .footer-left p {
        font-weight: 100;
        font-size: .9em;
        display: inline;
    }

.footer-right p {
    font-weight: 100;
    font-size: .9em;
    margin-left: 20px;
    display: inline;
}

.no-payment-methods-display {
    color: #f04124;
}

/* Hide scroll to top for print */
@media print {
    #scroll-top-wrapper {
        visibility: hidden;
    }
}

@media (min-width: 767px) {
    .mega-nav li a[href="/MyAccount"] + label {
        display: none !important;
    }

    .mega-nav li a[href="/MyAccount"] {
        display: none !important;
    }
}

#tst_reviewAndPayPage_shipToInfo {
    display: none;
}