﻿[% capture SignOutLink %]
<a href="javascript:void(0)" ng-click="vm.signOut('[[Model.Drop.SignOutReturnUrl]]')">
    <span class="sub-item-text">[[Model.Drop.SignOutText]]</span>
</a>
[% endcapture %]

[% capture DeliveryLabel %]
<span ng-if="vm.session.fulfillmentMethod === 'Ship' && ((vm.session.isAuthenticated || vm.session.rememberMe) && !vm.session.isGuest)"
      ng-bind="'[% translate 'Ship to' EscapeSingleQuotes %]' + ' ' + vm.session.shipTo.companyName + ', ' + vm.session.shipTo.fullAddress"></span>
<span ng-if="(vm.session.fulfillmentMethod === 'Ship' || !vm.session.fulfillmentMethod)
                              && ((!vm.session.isAuthenticated && !vm.session.rememberMe) || vm.session.isGuest)">[% translate 'Ship' %]</span>
<span ng-if="vm.session.fulfillmentMethod === 'PickUp'"
      ng-bind="'[% translate 'Pick up at' EscapeSingleQuotes %]' + ' ' + (vm.session.pickUpWarehouse ?
      (vm.session.pickUpWarehouse.description || vm.session.pickUpWarehouse.name) : '')"></span>
[% endcapture %]

[% capture B2CTopNavigation %]
<ul role="user-nav" id="tst_userNav">
    <li role="sign-in" ng-cloak ng-show="::(vm.session && (!vm.session.isAuthenticated && !vm.session.rememberMe || vm.session.isGuest))">
        <a href="[% urlForPage 'SignInPage' %]" isc-redirect-to-sign-in return-to-url="true" class="btn tst_header_signInButton">
            <span class="sign-in-label">[% translate 'Sign In' %]</span>
        </a>
    </li>
    <li role="account-menu" ng-show="::((vm.session.isAuthenticated || vm.session.rememberMe) && !vm.session.isGuest)">
        <div class="sn-account">
            <ul>
                <li class="has-sub">
                    <a href="#" class="btn" id="tst_userNav_userName_button">
                        <span class="cust-name" ng-bind="::(vm.session.firstName || vm.session.userName)"></span>
                        <label class="cust-name-arrow cust-name-arrow-inline"></label>
                    </a>
                    <ul>
                        <li href="/MyAccount" class="sub-item top-level-item">
                            <a href="/MyAccount">
                                <span class="sub-item-text">My Account</span>
                            </a>
                        </li>
                        [% navigationMenu viewName: 'Plumbers' pageName: 'My Account' surroundWith: '' %]
                        <li ng-if="::vm.session.displayChangeCustomerLink" href="/MyAccount/ChangeCustomer" class="sub-item top-level-item">
                            <a href="/MyAccount/ChangeCustomer">
                                <span class="sub-item-text">Change Customer/Ship To</span>
                            </a>
                        </li>
                        <li>
                            [[SignOutLink]]
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </li>
    [% if Model.Drop.DisplayCart -%]
    <li role="cart-link">
        <a id="tst_cartLink" ng-cloak class="btn" href="[% urlForPage 'CartPage' %]">
            <span class="cart-label">Cart</span>
            <i ng-cloak class="social foundicon-cart"></i>
            <span>{{vm.cart.totalCountDisplay}}</span>
        </a>
    </li>
    [% endif -%]
</ul>
[% endcapture %]

<script type="text/javascript">
    var insite = insite || {};
    insite.navAdjustments = [];
</script>

<div ng-controller="TopNavController as vm" class="top-nav-container" ng-cloak dashboard-url="[% urlForPage 'MyAccountPage' %]">
    <input type="hidden" id="tst_currentLanguage" value="{{::vm.session.language.id}}" />
    <div ng-if="vm.session.hasRfqUpdates" ng-cloak>
        <div class="head-msg">
            <span>
                [% translate 'You have new quote information.' %]
                <a ng-href="{{::vm.dashboardUrl}}">[% translate 'View My Dashboard' %]</a>
            </span>
            <a class="close-msg isc-closemsg" ng-click="vm.closeQuoteInformation()">×</a>
        </div>
    </div>
    <div role="top-panel">
        <div class="top-slide">
            <div id="userPanel">
                <form>
                    <div class="row collapse" ng-show="::((vm.session.isAuthenticated || vm.session.rememberMe) && !vm.session.isGuest)">
                        <div class="small-12 columns right">
                            <div class="inf-cust">
                                <span class="inf-label">[% translate 'Customer #' %]:</span>
                                <span class="inf-value" id="tst_userNav_customerNumber" ng-bind="::vm.session.billTo.customerNumber"></span>
                            </div>
                            <div class="inf-ship">
                                <span class="inf-label">[% translate 'Ship To' %]:</span>
                                <span class="inf-value">
                                    <span id="tst_userNav_shipToCompanyName" ng-bind="vm.session.shipTo.companyName"></span>
                                    <span id="tst_userNav_shipToName" ng-cloak ng-if="vm.session.shipTo.lastName || vm.session.shipTo.firstName">
                                        {{vm.session.shipTo.lastName}} {{vm.session.shipTo.firstName}},
                                    </span>
                                    <span ng-bind="vm.session.shipTo.fullAddress"></span>
                                </span>
                            </div>
                            <a ng-if="::vm.session.displayChangeCustomerLink" href="[% urlForPage 'ChangeCustomerPage' %]" id="tst_header_changeCustomer" class="btn primary btn-change-custship">
                                [% translate 'Change Customer/Ship To' %]
                            </a>
                        </div>
                        <div class="small-12 medium-12 large-12 columns int-settings" ng-show="vm.languages.length > 1 || vm.currencies.length > 1">
                            <button class="btn tertiary isettings">
                                <span class="flag-ind" ng-if="vm.languages.length > 1 && vm.session.language && vm.session.language.imageFilePath">
                                    <img ng-cloak ng-src="{{::vm.session.language.imageFilePath}}" alt="{{::vm.session.language.description}}" />
                                </span>
                                <span class="language-code" ng-if="vm.languages.length > 1 && vm.session.language && !vm.session.language.imageFilePath" ng-bind="::vm.session.language.languageCode"></span>
                                <span class="currency-symbol" ng-if="vm.currencies.length > 1 && vm.session.currency" ng-bind="::vm.session.currency.currencySymbol"></span>
                                <span>[% translate 'International Settings' %]</span>
                            </button>
                        </div>

                        <div class="small-12 columns user-info">
                            <div class="user-button">
                                <i class="social foundicon-torso"></i>
                                <span class="cust-name" ng-bind="vm.session.userLabel"></span>
                                <span class="user-role" ng-if="::vm.session.userRoles" ng-bind="::('(' + vm.session.userRoles + ')')"></span>
                            </div>
                            [[SignOutLink]]
                            <div class="ui-lock small-12 columns right isettings-buttons">
                                <button class="user-button btn secondary isettings-cancel">[% translate 'Cancel' %]</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div id="isettingsPanel">
                <form>
                    <div class="row collapse">
                        <div class="small-12 medium-6 large-6 columns isettings-multilang" ng-if="vm.languages.length > 1">
                            <label>
                                <img ng-cloak ng-if="::vm.session.language.imageFilePath" ng-src="{{::vm.session.language.imageFilePath}}" alt="{{::vm.session.language.description}}"/>
                                <span class="currency-symbol" ng-if="::!vm.session.language.imageFilePath" ng-bind="::vm.session.language.languageCode"></span>
                            </label>
                            <select id="currentLanguage"
                                    ng-model="vm.session.language"
                                    ng-options="language.description for language in vm.languages"
                                    ng-change="vm.setLanguage()">
                            </select>
                        </div>
                        <div class="small-12 medium-6 large-6 columns isettings-currency" ng-if="vm.currencies.length > 1">
                            <label>
                                <span class="currency-symbol" ng-if="::vm.session.currency" ng-bind="::vm.session.currency.currencySymbol"></span>
                            </label>
                            <select id="currentCurrency"
                                    ng-model="vm.session.currency"
                                    ng-options="currency.description for currency in vm.currencies"
                                    ng-change="vm.setCurrency(null)">
                            </select>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<header id="header" role="masthead" class="use-fastclick sign-in cms-rearrangeable header-b2c" ng-controller="HeaderController as vm">
    <div class="head-row">
        <div class="row logo-row small-12 columns">
            <div class="plumbers-top clearfix">
                <div class="plumbers-right" ng-cloak>
                    <p ng-if="vm.session.fulfillmentMethod === 'PickUp' && vm.session.isAuthenticated" class="pickup-location">Pickup Location: <span>{{vm.session.pickUpWarehouse.description}} </span> <a class="location-change-link" ng-click="vm.openWarehouseSelectionModal()">(Change)</a></p>
                    <p ng-if="vm.session.fulfillmentMethod !== 'PickUp' && vm.session.isAuthenticated" class="pickup-location">Shipping Location: <span>{{vm.session.shipTo.city}} </span> <a class="location-change-link" href="/MyAccount/ChangeCustomer">(Change)</a></p>
                    <p class="location-finder"><a href="/DealerLocator">Location Finder</a></p>
                    [% zone 'TopLinks' %]
                </div>
            </div>
            <div class="plumbers-restricted-width clearfix">
                <div class="header-zone lft">
                    [% zone 'Left' %]
                </div>
                <div class="header-zone rt">
                    <div class="search-wrapper">
                        <isc-product-search id="wideSearch"></isc-product-search>
                    </div>
                </div>
            </div>
            <div class="isc-nav-bar-b2c">
                <div id="searchPanel">
                    <isc-product-search id="narrowSearch"></isc-product-search>
                </div>
            </div>
            <div class="mega-nav">
                <div class="plumbers-restricted-width">
                    <div class="left-nav">
                        [% navigationMenu 'B2C' %]
                    </div>
                    <div class="right-nav">
                        [[B2CTopNavigation]]
                    </div>
                </div>
            </div>
        </div>
        <div class="isc-nav-bar isc-nav-bar-b2c">
            <div class="isc-nav-wrap">
                <label for="main-nav-check" class="toggle burger" onclick="insite.nav.activatePanel()" title="Menu">&#9776;</label>
                [% if Model.Drop.DisplayCart -%]
                <div class="cart-button">
                    <a id="tst_cartLink" class="cart-link" href="[% urlForPage 'CartPage' %]">
                        <span ng-bind="vm.cart.totalCountDisplay"></span>
                    </a>
                </div>
                <div class="sign-in" ng-show="!vm.session.isAuthenticated">
                    <a href="[% urlForPage 'SignInPage' %]" isc-redirect-to-sign-in return-to-url="true" class="btn tst_header_signInButton">
                        <span class="sign-in-label">[% translate 'Sign In' %]</span>
                    </a>
                </div>
                <div class="mobile-user-options" ng-show="::((vm.session.isAuthenticated || vm.session.rememberMe) && !vm.session.isGuest)">
                    <a href="#" class="user-button fastClick" id="tst_userNav_userName_button">
                        <span class="cust-name hide-ellipsis" ng-bind="vm.session.userLabel"></span>
                        <span class="cust-name display-ellipsis" ng-bind="vm.session.userLabel.length > 17 ? (vm.session.userLabel.substring(0, 18) + '...') : vm.session.userLabel"></span>
                    </a>
                </div>
                [% endif -%]
            </div>
        </div>
    </div>
    <div class="ui-lock"></div>
</header>
<div class="ui-lock"></div>

<div class="container nav-container nav-container-b2c">
    <div id="wideNav">
        <input type="checkbox" name="nav" id="main-nav-check" />
        <!-- Remove the class 'prevent-li-below-window' to stop insite.nav.js from modifying position of sub ULs -->
        <div class="isc-primary-nav prevent-li-below-window">
            [% navigationMenu %]
            <div class="isc-primary-nav-top">
                <!-- To Do 3.7.1 - change navigation back function to use below label element -->
                <label class="toggle isc-primary-nav-back isc-hidden" onclick="insite.nav.goBack()" title="Back">&#9668;</label>
                <label class="toggle close-all" onclick="insite.nav.uncheckBoxes('nav')">&times;</label>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="header_productSearch">
    <div class="search-container">
        <form>
            <div class="search-input">
                <label for="criteria">[% translate 'Search' %]</label>
                <input ng-model="vm.criteria" type="text" class="isc-searchAutoComplete tst_header_searchInput"
                       ng-init="vm.autocompleteOptions.placeholder = '[% translate 'What can we help you with today?' EscapeSingleQuotes %]';
                            vm.translations = [
                                {key: 'category', text: '[% translate 'Categories' EscapeSingleQuotes %]'},
                                {key: 'content', text: '[% translate 'Content' EscapeSingleQuotes %]'},
                                {key: 'product', text: '[% translate 'Products' EscapeSingleQuotes %]'},
                                {key: 'brand', text: '[% translate 'Brands' EscapeSingleQuotes %]'},
                                {key: 'manufacturerItemNumber', text: '[% translate 'MFG #' EscapeSingleQuotes %]'},
                                {key: 'partNumber', text: '[% translate 'Part #' EscapeSingleQuotes %]'},
                                {key: 'customerPartNumber', text: '[% translate 'My Part #' EscapeSingleQuotes %]'}]"
                       kendo-auto-complete
                       k-options="vm.autocompleteOptions"
                       isc-enter="vm.onEnter()"
                       name="criteria"
                       ng-blur="vm.startAutocomplete()"
                       onfocus="$(this).data('kendoAutoComplete').search()">
            </div>
            <div class="search-history">
                <div class="search-history-label"><span>[% translate 'Search History' %]</span></div>
                <div class="clear-search-history"><a href="#" ng-click="vm.clearSearchHistory()">[% translate 'Clear Search History' %]</a></div>
                <div class="view-full-results"><a href="#" ng-click="vm.search()">[% translate 'View Full Result List' %]</a></div>
            </div>
            <div class="search-button">
                <button class="btn primary fastClick search-button-bkgd" ng-click="vm.search()">[% translate 'Search' %]</button>
            </div>
        </form>
    </div>
</script>
