﻿<ul>
    <li ng-show="address.firstName && address.lastName" ng-bind="address.firstName + ' ' + address.lastName"></li>
    <li ng-show="address.firstName && !address.lastName || !address.firstName && address.lastName" ng-bind="address.firstName || address.lastName"></li>
    <li ng-show="address.attention" ng-bind="address.attention"></li>
    <li ng-bind="address.companyName"></li>
    <li ng-bind="address.address1"></li>
    <li ng-show="address.address2" ng-bind="address.address2"></li>
    <li ng-show="address.address3" ng-bind="address.address3"></li>
    <li ng-show="address.address4" ng-bind="address.address4"></li>
    <li ng-bind="address.city + (address.city && address.state ? ' ' : '') + address.state.abbreviation + ',' +
                (address.postalCode ? ' ' : '') + address.postalCode + ' ' + address.country.abbreviation"></li>
    <li ng-bind="address.phone"></li>
    <li ng-bind="address.email"></li>
    <li ng-show="address.fax" ng-bind="address.fax"></li>
</ul>