﻿<div id="scroll-top-wrapper" class="overlay">
    <a href="javascript:void(0);" onclick="topFunction()">▲</a>
    <script type="text/javascript">
                window.onscroll = function() {scrollFunction()};
                function scrollFunction() {
                  var element = document.getElementById("scroll-top-wrapper");
                  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                    if (element != null) {
                      var id = setInterval(moveElement, 5)
                    }
                  }
                }
                function topFunction() {
                  document.body.scrollTop = 0;
                  document.documentElement.scrollTop = 0;
                }
                function moveElement() {
                  var element = document.getElementById("scroll-top-wrapper");
                  var height = 0;
                  if (element != null) {
                    if (document.documentElement.scrollTop === 0 && window.pageYOffset > 0) {
                      // IE/Edge
                      height = window.innerHeight + window.pageYOffset - 90;
                    }
                    else {
                      height = window.innerHeight + document.documentElement.scrollTop - 90;
                    }
                    element.style.top = height + 'px';
                    if (document.documentElement.scrollTop > 50 || window.pageYOffset > 50) {
                      element.style.display = 'inline';
                    }
                    else {
                      element.style.display = 'none';
                    }
                  }
                }
    </script>
    <style>
        /* Scroll to top */

        #scroll-top-wrapper {
            height: 50px;
            width: 50px;
            position: fixed;
            right: 1rem;
            z-index: 9;
            display: none;
        }

        #scroll-top-wrapper a {
            color: #363636 !important;
            border: 1.5px solid #363636;
            position: relative;
            font-size: 18px;
            outline: none;
            background-color: white;
            cursor: pointer;
            text-decoration: none;
            padding: 15px;
            border-radius: 4px;
        }
    </style>
</div>