﻿<style>
    @import
    url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);

    div.sticky {
        position: -webkit-sticky;
        position: sticky;
        bottom: 50%;
        right: 0px;
        font-size: 20px;
        float: right;
        -webkit-transform: rotate(-90deg);
        font-weight: 600;
        transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        z-index: 999;
    }

    #feedback-main {
        display: none;
        max-width: 570px;
    }

    #popup {
        text-align: center !important;
        height: 40px !important;
        padding: 0px !important;
        width: 100px !important;
        top: 35px;
        background-color: #0065A4 !important;
        z-index: 999;
        border: black 2px solid;
        border-radius: 4px;
    }
</style>

<body>
    <div class="sticky">
        <button id="popup" class="feedback-button" onclick="toggle_visibility()">Feedback</button>
    </div>
</body>

<div id="feedback-main" class="reveal-modal" data-reveal>
    <div id="feedback-div" class="modal-wrap">
        <a class="close-reveal-modal">&#215;</a>
        <form action="contact.php" method="post" class="form" id="feedback-form1" name="form1" enctype="multipart/form-data">
            <script xmlns="http://www.w3.org/1999/xhtml" src="https://forms.piftech.com:443/frevvo/web/tn/plumberssupplyco.com/u/0cd307b3-d761-4f12-9ce5-6160b9928f5f/app/_0rsQUbCSEeqR9-8oFgL7Pg/formtype/_4L9SELCSEeqR9-8oFgL7Pg/embed?id=w19612aa&height=640&resize=true"></script>
        </form>
    </div>
</div>

<script src="_include/js/feedback.js"></script>
<script>
    function toggle_visibility() {
        var e = document.getElementById('feedback-main');
        e.style.display = 'block';            
        this.coreService.displayModal(e);
    }
</script>